{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="py-6 md:w-1/2 md:mx-auto text-xl font-bold text-center">
        <h1>تغيير كلمة السر</h1>
    </div>

    <div class="bg-white border border-gray-200 rounded shadow-sm p-6 md:w-1/2 md:mx-auto">
        <form method="POST" enctype="multipart/form-data">
            {{form.csrf}}
            {{ form.hidden_tag() }}
        
            
        
            <fieldset class="fieldset">
                <legend class="fieldset-legend">{{ form.password.label }}</legend>
                {{ form.password(required=False, class="input w-full", placeholder="اكتب كلمة السر الجديدة")  }}
                <p class="label text-red-500">
                    {{ form.password.errors[0] if form.password.errors else '' }}
                </p>
            </fieldset>
        
            <fieldset class="fieldset">
                <legend class="fieldset-legend">{{ form.confirm_password.label }}</legend>
                {{ form.confirm_password(required=False, class="input w-full", placeholder="تأكيد كلمة السر الجديدة") }}
                <p class="label text-red-500">
                    {{ form.confirm_password.errors[0] if form.confirm_password.errors else '' }}
                </p>
            </fieldset>
            
            <button type="submit" class="btn btn-neutral mt-6">تأكيد</button>
        </form>

        
    </div>
{% endblock %}