<div
  class="hero min-h-96"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">وظائف محلية في ليبيا</h1>
      <p class="mb-5">
        ابحث عن وظائف محلية في مختلف المجالات داخل ليبيا. انضم إلى منصتنا للعثور على أفضل الفرص
        التي تتناسب مع مهاراتك في سوق العمل المحلي.
      </p>
    </div>
  </div>
</div>

<!-- Add space under the hero section -->
