{% extends "base.html" %}

{% block title %}
عنا
{% endblock %}

{% block description %}
ابحث عن أفضل فرص العمل في ليبيا على منصتنا المخصصة. نقدم وظائف متنوعة في مختلف القطاعات مثل التكنولوجيا، التعليم، الطب، والهندسة. قم بالتقديم بسهولة وابحث عن الوظيفة المثالية لك الآن.
{% endblock %}



{% block content %}
<div class="p-2 md:p-6 w-full md:w-[80%] md:mx-auto bg-white">
    <h1 class="text-3xl font-semibold mb-4">عن منصتنا 🌐</h1>
    
    <p class="mb-4">
        مرحبًا بكم في [اسم المنصة] 🎉، المنصة الأولى في ليبيا للبحث عن فرص العمل والتوظيف. نقدم لكم فرصة للبحث عن وظائف في مختلف القطاعات مثل 
        <strong>التكنولوجيا 💻، التعليم 📚، الطب 🩺، الهندسة ⚙️، الإدارة 📊، وغيرها</strong>. مهمتنا هي تسهيل عملية التوظيف في ليبيا من خلال تقديم واجهة استخدام 
        سهلة وبسيطة تتيح للمستخدمين التقديم على الوظائف التي تناسب مهاراتهم وطموحاتهم.
    </p>
    
    <h2 class="text-2xl font-semibold mb-4">مهمتنا 🎯</h2>
    <p class="mb-4">
        تهدف [اسم المنصة] إلى تمكين الباحثين عن العمل في ليبيا من الوصول إلى أفضل الفرص الوظيفية المتاحة. نحن نعمل على تحسين تجربة المستخدم من خلال
        تقديم تحديثات دورية للوظائف وتسهيل التقديم عليها. نساعد أيضًا الشركات على العثور على أفضل المواهب من خلال قاعدة بيانات قوية وشبكة واسعة من المتقدمين.
    </p>

    <h2 class="text-2xl font-semibold mb-4">قيمنا 💡</h2>
    <ul class="list-disc list-inside mb-4">
        <li>تعزيز الشفافية والمصداقية في عملية التوظيف 🤝.</li>
        <li>توفير فرص عمل متنوعة لجميع الأفراد في مختلف القطاعات 📈.</li>
        <li>تسهيل التواصل بين الشركات والمرشحين 📞.</li>
        <li>تحقيق تكافؤ الفرص لجميع الباحثين عن العمل في ليبيا ⚖️.</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4">فريقنا 👥</h2>
    <p class="mb-4">
        يتكون فريقنا من مجموعة من المحترفين ذوي الخبرات المتنوعة في مجالات التوظيف والتكنولوجيا 💡. نحن نعمل جاهدين لتقديم أفضل تجربة للباحثين عن 
        العمل وأصحاب الأعمال في ليبيا 🇱🇾.
    </p>

    <h2 class="text-2xl font-semibold mb-4">اتصل بنا 📬</h2>
    <p class="mb-4">
        إذا كنت بحاجة إلى مزيد من المعلومات أو لديك أي استفسار، لا تتردد في <a href="/contact" class="text-blue-500">التواصل معنا</a> 📲.
    </p>
</div>
{% endblock %}
