{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block description %}
ابحث عن أفضل فرص العمل في ليبيا على منصتنا المخصصة. نقدم وظائف متنوعة في مختلف القطاعات مثل التكنولوجيا، التعليم، الطب، والهندسة. قم بالتقديم بسهولة وابحث عن الوظيفة المثالية لك الآن.
{% endblock %}


{% block hero %}
{% include "partials/_hero.html" %}
{%endblock%}


{% block content %}
<div class=" px-2 md:px-0 pt-8 w-full md:w-[95%] lg:w-[80%] md:mx-auto text-sm text-gray-500">
    تصنيف بناءا على
</div>
<form method="GET" class="w-full">
    <div class="pt-2 pb-6 px-2 md:px-0 w-full md:w-[95%] lg:w-[80%] md:mx-auto text-xl font-bold space-y-2 md:space-y-0 flex flex-col md:flex-row justify-between">
      <div class="flex gap-2 w-full">
        <label class="input w-full md:w-sm">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input name="search" type="search" class="grow" placeholder="بحث" value="{{ request.args.get('search', '') }}" />
        </label>
        <button class="btn btn-neutral">بحث</button>
      </div>
  
      <div class="flex gap-2 w-full">
        <select class="select w-full" name="category" onchange="document.getElementById('filter-form').submit()">
          <option disabled selected>التصنيفات</option>
          <option value="">الكل</option>
          {% for category in categories %}
          <option value="{{ category.id }}" {% if request.args.get('category') == category.id|string %}selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
  
        <select class="select w-full" name="city" onchange="document.getElementById('filter-form').submit()">
          <option disabled selected>المدن</option>
          <option value="">الكل</option>
          {% for city in cities %}
          <option value="{{ city.id }}" {% if request.args.get('city') == city.id|string %}selected{% endif %}>{{ city.name }}</option>
          {% endfor %}
        </select>
  
        <button class="btn btn-neutral" type="submit" style="display: none;">بحث</button> <!-- Hidden submit button -->
      </div>
    </div>
  </form>
  
<div class="px-2 md:px-0 w-full md:w-[95%] lg:w-[80%] md:mx-auto space-y-2" id="records" x-merge="append">
    {% if not jobs %}
        <p class="text-center text-gray-600">لا يوجد وظائف</p>
    {% else: %}
    
    {% for job in jobs: %}
    <div class="bg-white shadow-xs border border-gray-200 p-2 md:p-4 rounded-sm md:flex justify-between items-center">
        <div class="flex gap-4 items-center md:justify-center">
            <div class="avatar">
                <div class="w-12 md:w-12 rounded-full border border-gray-300">
                  <img src="{{r2_public_url}}/{{job['user']['logo_url']}}" />
                </div>
            </div>
    
            <div class="space-y-1 md:space-y-1">
                <p class="text-gray-800 font-bold md:text-md">
                  {{job['job'].title}}
                  {% if job['is_hot'] %}
                    {% set file_path = 'images/hot2x.gif' %}
                    {% include "partials/_emojii_pfp.html"  %}
                  {% endif %}

                  {% if job['is_new'] %}
                    {% set file_path = 'images/new2x.gif' %}
                    {% include "partials/_emojii_pfp.html"  %}
                  {% endif %}
                </p>
                <p class="text-gray-600">{{job['user']['company_name']}}</p>
                <div>
                    <div class="badge badge-sm badge-outline badge-info">{{job['job'].category.name}}</div>
                    <div class="badge badge-sm badge-outline badge-warning">{{job['job'].city.name}}</div>
                </div>
            </div>
        </div>
        <div>
            <a href="{{url_for('job_listing.single_job', job_id=job['job'].slug)}}" class="btn btn-neutral btn-sm md:btn-md w-full mt-4 md:mt-0">🚀 تقديم</a>
            <p class="text-center mt-1">{{time_since(job['job'].created_at)}}</p>
        </div>
    </div>
    {% endfor %}

    {% include "partials/_scraped_jobs.html" %}

    <div class="mt-6 flex justify-center space-x-2" id="pagination"  >
        {% if pagination.has_prev %}
          <a href="{{ url_for('main.home', page=pagination.prev_num, search=current_search, category=current_category, city=current_city) }}" class="btn btn-outline">⬅️ السابق</a>
        {% endif %}
      
        <span class="btn btn-disabled">صفحة {{ pagination.page }} من {{ pagination.pages }}</span>
      
        {% if pagination.has_next %}
          <a href="{{ url_for('main.home', page=pagination.next_num, search=current_search, category=current_category, city=current_city) }}" class="btn btn-outline">التالي ➡️</a>
        {% endif %}
    </div>


    {% endif %}

    
    
</div>


{% endblock %}